@import "~bootstrap/dist/css/bootstrap.min.css";

a { 
  text-decoration: none;
  color: #ffffff;
} 

body {
  margin: 0;
  font-family: Carme, sans-serif; 
}

.container {
  width: 76%;
  margin: 0 auto;
}

.logo {
  height: 40px;
  color: #ffffff;
  border-right: 1px solid #6ec6ff;
}

.nav-search, .nav-btn {
  height: 25px;
  padding: 5px;
}

.flag-icon {
  width: 28px;
  height: 20px;
}

.about-site {
  padding: 60px 0;
  text-align: center;
}

.directory, .author-of-the-day {
  padding: 0;
}

.name-section {
  width: 100%;
  border-bottom: 1px solid #bbbbbb;
}

.image-of-an-authors {
  width: 100%;
  height: 250px;
}

.author-of-the-day {
  position: sticky;
}

.image-author-of-the-day {
  height: 250px;
  padding: 0;
}

.team {
  text-align: center;
}

.developer {
  color: #000000;
}

.developer__image {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.footer {
  color: #ffffff;
  text-align: center;
}

.developer:hover {
  cursor: pointer;
  text-decoration: none;
  color: #6ec6ff;
}
