@import '~leaflet/dist/leaflet.css';
@import "~bootstrap/dist/css/bootstrap.min.css";

a { 
  text-decoration: none;
  color: #ffffff;
} 

body {
  margin: 0;
  font-family: Carme, sans-serif; 
}

.container {
  width: 76%;
  margin: 0 auto;
}

.logo {
  height: 40px;
  color: #ffffff;
  border-right: 1px solid #6ec6ff;
}

.nav-search, .nav-btn {
  height: 25px;
  padding: 5px;
}

.flag-icon {
  width: 28px;
  height: 20px;
}

.basic-information {
  width: 100%;
}

.information {
  width: 100%;
}

.image-of-the-author {
  height: 340px;	
}

@media (min-width: 425px) and (max-width: 575px) {
  .image-of-the-author {
    height: 450px;	
  }
}

@media screen and (min-width: 1200px) {
  .image-of-the-author {
    height: 400px;	
  }
}

.footer {
  color: #ffffff;
  text-align: center;
}

/* .developer:hover {
  cursor: pointer;
  text-decoration: none;
  color: #6ec6ff;
} */

.section__name {
  text-align: center;
}

/* for map */
#map { 
  height: 250px; 
  /* max-width: 50%; */
  margin: 20px auto;
  width: 400px;
}

/* for video */
.video-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.video-container__item {
  position: relative;
  width: 50%;
  /* width: 400px;
  height: 300px; */
}

.video-container__item > a {
  position: absolute;
  top: 30%;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  color: white;
}

/* for gallery */
.thumb img {
  -webkit-filter: grayscale(0);
  filter: none;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
}

.thumb img:hover {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.thumb {
  padding: 5px;
}


/* for timeline */
ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}

ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}
